<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrar Asistencia</title>
</head>
<body>
    <h1>Registrar Nueva Asistencia</h1>
    <form method="POST">
        <label for="id_empleado">ID Empleado:</label>
        <input type="number" name="id_empleado" required>
        <br>
        <label for="fecha_asis">Fecha:</label>
        <input type="date" name="fecha_asis" required>
        <br>
        <label for="hora_ent">Hora Entrada:</label>
        <input type="time" name="hora_ent">
        <br>
        <label for="hora_sal">Hora Salida:</label>
        <input type="time" name="hora_sal">
        <br>
        <label for="hora_extr">Hora Extra:</label>
        <input type="time" name="hora_extr">
        <br>
        <button type="submit">Registrar</button>
    </form>
    <br>
    <a href="/asistencias">
        <button>Volver a la lista de asistencias</button>
    </a>
</body>
</html>
