<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Vacante</title>
</head>
<body>
    <h1>Editar Vacante</h1>
    <form method="POST">
        <label for="id_departamento">ID Departamento:</label>
        <input type="number" name="id_departamento" value="{{ vacante.id_departamento }}" required>
        <br>
        <label for="titulo">Título:</label>
        <input type="text" name="titulo" value="{{ vacante.titulo }}" required>
        <br>
        <label for="descripcion">Descripción:</label>
        <textarea name="descripcion">{{ vacante.descripcion }}</textarea>
        <br>
        <label for="fec_publi">Fecha Publicación:</label>
        <input type="date" name="fec_publi" value="{{ vacante.fec_publi }}">
        <br>
        <button type="submit">Guardar Cambios</button>
    </form>
    <br>
    <a href="/vacantes">
        <button>Volver a la lista de vacantes</button>
    </a>
</body>
</html>
