<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Usuario</title>
</head>
<body>
    <h1>Crear Usuario</h1>
    <form method="POST">
        <label for="nombre_usuario">Nombre:</label>
        <input type="text" name="nombre_usuario" required>
        <br>
        <label for="correo">Correo:</label>
        <input type="email" name="correo" required>
        <br>
        <label for="estado_usuario">Estado:</label>
        <input type="text" name="estado_usuario">
        <br>
        <label for="contrasena">Contraseña:</label>
        <input type="password" name="contrasena" required>
        <br>
        <button type="submit">Crear</button>
    </form>
</body>
</html>
