<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrar Capacitación</title>
</head>
<body>
    <h1>Registrar Nueva Capacitación</h1>
    <form method="POST">
        <label for="id_empleado">ID Empleado:</label>
        <input type="number" name="id_empleado" required>
        <br>
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" required>
        <br>
        <label for="fecha_ini">Fecha Inicio:</label>
        <input type="date" name="fecha_ini" required>
        <br>
        <label for="fecha_fin">Fecha Fin:</label>
        <input type="date" name="fecha_fin">
        <br>
        <label for="descripcion">Descripción:</label>
        <textarea name="descripcion"></textarea>
        <br>
        <button type="submit">Registrar</button>
    </form>
    <br>
    <a href="/capacitaciones">
        <button>Volver a la lista de capacitaciones</button>
    </a>
</body>
</html>
