<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Capacitaciones</title>
</head>
<body>
    <h1>Lista de Capacitaciones</h1>
    <a href="/capacitaciones/crear">Registrar Nueva Capacitación</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>ID Empleado</th>
                <th>Nombre</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for capacitacion in capacitaciones %}
            <tr>
                <td>{{ capacitacion.id_capacitacion }}</td>
                <td>{{ capacitacion.id_empleado }}</td>
                <td>{{ capacitacion.nombre }}</td>
                <td>{{ capacitacion.fecha_ini }}</td>
                <td>{{ capacitacion.fecha_fin }}</td>
                <td>{{ capacitacion.descripcion }}</td>
                <td>
                    <a href="/capacitaciones/editar/{{ capacitacion.id_capacitacion }}">Editar</a>
                    <a href="/capacitaciones/eliminar/{{ capacitacion.id_capacitacion }}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/">
        <button>Volver a la pantalla principal</button>
    </a>
</body>
</html>
